body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    background-color: rgb(255, 236, 179);
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header {
    padding: 20px 40px;
    background-color: rgb(255, 245, 225);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(76, 175, 80);
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: rgb(76, 175, 80);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
}

select, input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn {
    width: 50%;
}
.c3 {
    width: 80%;
}
.xss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.xss img {
    width: 48%; 
    border: 10px solid rgb(255, 204, 128);
}

.xss p {
    width: 48%; 
    text-align: left;
    padding: 20px;
    font-weight: bold;
    box-sizing: border-box;
}
.cr {
    position: relative;
}

.cr img {
    width: 100%; 
    border: 10px solid rgb(255, 204, 128);
    display: block;
}

.cr p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.or{
    text-align: right;
}